{% extends 'BloggerBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>Об интерактивной обучающей системе</h1>
    </header>
    <article>
        <p>
            Интерактивной обучающая система по курсу общей физики призвана помогать ребенку
            максимально качественно изучить предмет и приобрести интерес к той или иной области физики,
            а также повысить интерес к проведению занятий у учителей физики.
        </p>
    </article>
{% endblock %}